body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #1572a1;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.65rem;
}

h2 {
  color: #1572a1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 10px;
}

h3 {
  color: #7a0bc0;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #d3dedc 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 20px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.cloud-image {
  position: absolute;
  top: 260px;
  left: 10%;
}

.cloud-image2 {
  position: absolute;
  right: 10%;
  top: 40px;
}

.my-image {
  width: 170px;
  height: 170px;
}

.a {
  line-height: 4px;
}

.intro {
  width: 80%;
  margin: auto;
}

.skill-row {
  width: 80%;
  margin: 50px auto;
  text-align: left;
}

.skill-one,
.skill-two {
  width: 45%;
  margin: 30px 2.5%;
}

.contact-message {
  width: 80%;
  margin: 40px auto 60px;
}

.btn {
  /* Remaining styles unchanged */

  @media only screen and (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px */
    .skill-row {
      flex-direction: column;
      align-items: center;
    }

    .skill-one,
    .skill-two {
      width: 80%;
    }
  }
}
